<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/template :: head}">
        <title>Título</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarEmpleado">
                            <i class="fas fa-plus"></i> Agregar Empleado
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar empleado, es la ventana modal -->
        <section th:fragment="agregarEmpleado">
            <div id="agregarEmpleado" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar Empleado</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/empleado/guardar}" th:object="${empleado}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="cargo">Ubicacción</label>
                                    <input type="text" class="form-control" name="cargo" required="true"/>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="categoira">Hotel_Id</label>
                                    <input type="text" class="form-control" name="hotel_id" required="false"/>
                                </div>
                  
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad empleado -->
        <section th:fragment="listadoEmpleados" id="empleados">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Empleadoes</h4>
                            </div>
                            <div th:if="${empleados != null and !empleados.empty}">
                                <table class="table table-sm table-dark">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Cargo</th>
                                            
                                            
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-danger" th:each="empleado, contador : ${empleados}">
                                            <td>[[${empleado.id}]]</td>
                                            <td>[[${empleado.nombre}]]</td>
                                            <td>[[${empleado.cargo}]]</td>
                                            
                                            
                                            <td><a th:href="@{/empleado/eliminar/}+${empleado.id}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar </a>
                                            <a th:href="@{/empleado/modifica/}+${empleado.id}"
                                               data-bs-target="#modificarEmpleado"
                                                   class="btn btn-success">
                                            <i class="fas fa-pencil"></i>Modificar</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarEmpleado">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/empleado/guardar}" 
                          th:object="${empleado}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="id" th:field="*{id}"/>
                        <input type="hidden" name="nombre" th:field="*{nombre}"/>
                        <input type="hidden" name="cargo" th:field="*{cargo}"/>
                        <input type="hidden" name="hotel_id" th:field="*{hotel_id}"/>
                        
                        <section th:replace="~{empleado/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Modificar Empleado</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">Nombre</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="cargo">Cargo</label>
                                                    <input type="text" class="form-control" 
                                                           name="cargo" th:field="*{cargo}"
                                                           required="true">
                                                </div>
                                                
                                                <div class="mb-3">
                                                    <label for="hotel_id">Descripción</label>
                                                    <input type="text" class="form-control" 
                                                           name="cagetoria" th:field="*{hotel_id}"
                                                           required="true">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/empleado/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/empleado/eliminar/}+${empleado.id}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i>Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i>Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>
