<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/template :: head}">
        <title>Título</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarHotel">
                            <i class="fas fa-plus"></i> Agregar Hotel
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar hotel, es la ventana modal -->
        <section th:fragment="agregarHotel">
            <div id="agregarHotel" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar Hotel</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/hotel/guardar}" th:object="${hotel}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="ubicacion">Ubicacción</label>
                                    <input type="text" class="form-control" name="ubicacion" required="true"/>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="categoira">Descripcion</label>
                                    <input type="text" class="form-control" name="descripcion" required="false"/>
                                </div>
                  
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad hotel -->
        <section th:fragment="listadoHoteles" id="hoteles">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Hoteles</h4>
                            </div>
                            <div th:if="${hoteles != null and !hoteles.empty}">
                                <table class="table table-sm table-dark">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Ubicación</th>
                                            <th>Descripcion</th>
                                            
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-danger" th:each="hotel, contador : ${hoteles}">
                                            <td>[[${hotel.id}]]</td>
                                            <td>[[${hotel.nombre}]]</td>
                                            <td>[[${hotel.ubicacion}]]</td>
                                            <td>[[${hotel.descripcion}]]</td>
                                            
                                            <td><a th:href="@{/hotel/eliminar/}+${hotel.id}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar </a>
                                            <a th:href="@{/hotel/modifica/}+${hotel.id}"
                                               data-bs-target="#modificarHotel"
                                                   class="btn btn-success">
                                            <i class="fas fa-pencil"></i>Modificar</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarHotel">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/hotel/guardar}" 
                          th:object="${hotel}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="id" th:field="*{id}"/>
                        <input type="hidden" name="nombre" th:field="*{nombre}"/>
                        <input type="hidden" name="ubicacion" th:field="*{ubicacion}"/>
                        <input type="hidden" name="descripcion" th:field="*{descripcion}"/>
                        
                        <section th:replace="~{hotel/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Modificar Hotel</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">Nombre</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="ubicacion">Ubicación</label>
                                                    <input type="text" class="form-control" 
                                                           name="ubicacion" th:field="*{ubicacion}"
                                                           required="true">
                                                </div>
                                                
                                                <div class="mb-3">
                                                    <label for="descripcion">Descripción</label>
                                                    <input type="text" class="form-control" 
                                                           name="cagetoria" th:field="*{descripcion}"
                                                           required="true">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/hotel/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/hotel/eliminar/}+${hotel.id}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i>Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i>Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>
